<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212623327065-ev4u92n1fv1e3nj6kqj7na12r5vqlgfm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212623327065-ev4u92n1fv1e3nj6kqj7na12r5vqlgfm</string>
	<key>API_KEY</key>
	<string>AIzaSyAVp52pBcZZkeS7iPcO382a5QU8XnFx8mY</string>
	<key>GCM_SENDER_ID</key>
	<string>212623327065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.deeplinking</string>
	<key>PROJECT_ID</key>
	<string>fooddeliveryapp-62e8a</string>
	<key>STORAGE_BUCKET</key>
	<string>fooddeliveryapp-62e8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212623327065:ios:c48ce7ea5f3ee3d6d1d648</string>
</dict>
</plist>